*{margin:0;padding:0;box-sizing:border-box}
body{
  font-family:Inter;
  background:#050505;
  color:#fff;
  cursor:none;
}

/* CUSTOM CURSOR */
#cursor{
  position:fixed;
  width:40px;
  height:40px;
  pointer-events:none;
  z-index:99999;
  transform:translate(-50%,-50%);
}

#scissor{
  width:100%;
  height:100%;
  stroke:#ff3c3c;
  stroke-width:4;
  fill:none;
  filter:drop-shadow(0 0 8px #ff3c3c);
}

/* HERO */
.hero{
  min-height:100vh;
  padding:140px 8%;
  position:relative;
  overflow:hidden;
}
.hero-bg{
  position:absolute;
  inset:0;
  background:url("assets/image/bg.jpg") center/cover;
  opacity:.50;
}
.hero-content{
  position:relative;
  display:grid;
  grid-template-columns:1fr 1.2fr;
  gap:80px;
  z-index:2;
}
.hero-image-wrap img{
  width:100%;
  max-height:82vh;
  object-fit:contain;
}
.hero-title{
  font-family:Anton;
  font-size:4.6rem;
}
.hero-title span{color:#ff3c3c}
