body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

header {
  text-align: center;
  padding: 50px;
  background: #020617;
}

nav a {
  margin: 10px;
  color: #38bdf8;
  text-decoration: none;
}

section {
  padding: 40px;
  text-align: center;
}

ul {
  list-style: none;
}

